@import "tailwindcss";

@theme {
  --color-brand-red: #E31E24;
  --color-brand-black: #0A0A0A;
  --color-brand-gray: #1A1A1A;
}

:root {
  background: var(--color-brand-black);
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}